@import url("../components/navigation.css");
@import url("reset.css");

.app-root {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}