.backlog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.backlog__title {
  font-size: 3rem;
}

.backlog__list {
  list-style: none;
  font-size: 1rem;
  padding: 0rem;
}