.search-wrapper {
  display: flex;
  flex-direction: row;
  border: 2px solid grey;
  border-radius: 0.5rem;
  padding: 0.5rem;
  justify-content: space-around;
  box-shadow: 0 4px 4px grey;
}

.search-wrapper__button {
  border: none;
  padding: 0.5rem;
  width: 8.5rem;
  border-radius: 0.5rem;
}

.search-wrapper__button--left {
  background-color: cyan;
}

.search-wrapper__button--right {
  background-color: rgb(60, 51, 238);
}

.search-wrapper__button-link {
  text-decoration: none;
  color: white;
}


